<!--The content below is only a placeholder and can be replaced.-->
<div style = "text-align:center" >
  <h1 >
    吉他查询系统 </h1 >
</div >
<p-toolbar >
  <form [formGroup] = "searchForm" novalidate >
    <div class = "ui-grid-row" >
      <div class = "form-group ui-g-3" >
        <label >前板：</label >
        <p-dropdown [options] = "woods" appendTo = "body" formControlName = "topWood" placeholder = "请选择前板" ></p-dropdown >
      </div >
      <div class = "form-group ui-g-3" >
        <label >背板：</label >
        <p-dropdown [options] = "woods" appendTo = "body" formControlName = "backWood" placeholder = "请选择背板" ></p-dropdown >
      </div >
      <div class = "form-group ui-g-3" >
        <label >产地：</label >
        <p-dropdown [options] = "builders" appendTo = "body" formControlName = "builder" placeholder = "请选择产地" ></p-dropdown >
      </div >
      <div class = "form-group ui-g-3" >
        <label >类型：</label >
        <p-dropdown [options] = "types" appendTo = "body" formControlName = "type" placeholder = "请选择类型" ></p-dropdown >
      </div >
    </div >
    <div class = "ui-grid-row" >
      <div class = "form-group ui-g-4" >
        <label >编号：</label >
        <input type = "text" pInputText placeholder = "请输入编号" formControlName = "serialNumber" >
      </div >
      <!--<div class = "form-group ui-g-4" >-->
      <!--<label >价格：</label >-->
      <!--<input type = "text" pInputText placeholder = "请输入价格" formControlName = "floorPrice" >-->
      <!--<label >-</label >-->
      <!--<input type = "text" pInputText placeholder = "请输入价格" formControlName = "cellingPrice" >-->
      <!--</div >-->
    </div >
  </form >
</p-toolbar >
<p-table [value] = "dataSet" [paginator] = "true" [rows] = "20" >
  <ng-template pTemplate = "header" >
    <tr >
      <th >编号</th >
      <th >价格</th >
      <th >产地</th >
      <th >类型</th >
      <th >前板</th >
      <th >背板</th >
    </tr >
  </ng-template >
  <ng-template pTemplate = "body" let-guitar >
    <tr >
      <td >{{guitar.serialNumber}}</td >
      <td >{{guitar.price}}</td >
      <td >{{guitar.builder}}</td >
      <td >{{guitar.type}}</td >
      <td >{{guitar.topWood}}</td >
      <td >{{guitar.backWood}}</td >
    </tr >
  </ng-template >
</p-table >
